body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1920px;


}

.wrapper {
  /* width: 1918px; */
  height: 1285px;
  background-color: #fbfbfb;
  margin: 4px 0 0 0;
}

.wrapper-block1 {
  padding: 27px 0 0 0;
  height: 69px;
}

.header-nav {
  margin: 0px 81px 0 424px;
}

.wrapper-h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin: 0px 0 0 3px;
  padding-top: 57px;
}

.wrapper-text {
  width: 790px;
  height: 80px;
  margin: 22px 0 0 566px;
}

.wrapper-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
}

.map-slider-img-conteiner {
  width: 1076px;
  height: 156px;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0 0 418px;
}

.map-slider-btn-conteiner {
  width: 1199px;
  height: 156px;
  position: absolute;
  overflow: hidden;
  margin: 14px 0 0 276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 46px 0 0 361px;
}

.slidecontainer-map {
  width: 245px;
  height: 49px;
  margin: 229px 0px 97px 820px;

}

.slider__control_left {
  background-image: url(../assets/icons/arrowLeft.svg);
  Width: 26px;
  Height: 39px;
  border: 0;
  background-color: white;
  background-repeat: no-repeat;
  margin: 11px 11px 0 0px;
}

.slider__control_right {
  background-image: url(../assets/icons/arrow-right-map.svg);
  Width: 29px;
  Height: 38px;
  border: 0;
  background-color: white;
  background-repeat: no-repeat;
  margin: 11px 0px 0 8px;
}

.img-item {
  width: 108px;
  height: 108px;
  transition: 1s;
  /* margin: 0px 2px 0 14px; */
}

.img-item:hover {
  cursor: pointer;
  transform: scale(1.2);
  /* Увеличиваем масштаб */
}

.img-item-active .img-item {
  width: 137px;
  height: 137px;
  
  
}
.img-item-active  {
  
  position: relative;
  
}

.wrapper-logo {
  margin: 0 724px 0 0px;
}

.wrapper-nav {
  margin: 52px 0 0 0;
}

.footer-btn {
  margin: 0px 0 0 16px;
}

.img-item-active::after {
  content: '';
  width: 157px;
  height: 157px;
  background: url(../assets/icons/circle.svg) center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  
}

@media (max-width: 1767px) {
  .wrapper {
    height: 1107px;
  }

  /* .heder-nav-item {
    margin-right: 72px;
  }
  .header-nav {

    margin: 1px 0px 0 185px;
}
.switch {
  margin: 0 0 0 7px;
} */
  .blok-slider-img {
    width: 720px;
  }

  .social-network {
    margin: 318px 0 0 151px;
  }

  .header-nav {
    max-width: 650px;
    height: 21px;
    margin: 10px 0px 0 106px;
  }

  .logo-light {
    margin: 0px 0px 0 151px;
  }

  .switch {
    margin: 0 0 0 34px;
  }

  .wrapper-block2 {
    max-width: 1200px;
    height: 926px;
  }

  .watch {
    max-width: 793px;
    height: 208px;
    margin: 0 0px 0px 151px;
    padding: 127px 0 0 0px;
  }




  .wrapper-text {
    margin: 20px 0 0 208px;
  }

  .map-slider-btn-conteiner {
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 83px 0 0 199px;

  }

  .map-slider-img-conteiner {
    width: 700px;
    height: 156px;
    position: absolute;
    overflow: hidden;
    margin: 14px 0 0 276px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 0 245px;
  }

  .slidecontainer-map {
    width: 245px;
    height: 49px;
    margin: 206px 0px 0px 479px;
  }

  .img-item {
    width: 108px;
    height: 108px;
    transition: 1s;
    margin: 0 23px 0 0px;
  }

  .img-item-active {
    width: 157px;
    height: 157px;
  }

  .map {
    background-image: url(../assets/icons/mapMap1200.svg);
    background-repeat: no-repeat;
    margin: 60px 0 0 199px;
  }

  .int-icon-item-eagle {
    margin: 47px 0 0 69px;
  }

  .int-icon-item-crocodile {
    margin: 59px 0 0 150px;
  }

  .int-icon-item-gorill {
    margin: 135px 0 0 370px;
  }

  .int-icon-item-panda {
    margin: 56px 0 0 581px;
  }

  .btn-map-watch-online {
    margin: 425px 0px 0px 279px;
  }

  .slider__control_right {
    margin: -84px 0px 0 8px;
  }

  .slider__control_left {

    margin: -83px 11px 0 0px;
  }

  .wrapper-nav {
    margin: -88px 0 0 570px;
  }

  .footer-btn {
    margin: 284px 0 0 38px;
  }


}

@media (max-width: 948px) {
  .wrapper-text {
    width: 597px;
    height: 80px;
    margin: 20px 0 0px 22px;
  }

  .logo-light {
    margin: 0px 384px 0 21px;
  }

  .footer-btn {
    margin: -91px 0 0 336px;
  }

  .wrapper-nav {
    margin: 0 0px 0 15px;
  }

  .header-nav-active {
    display: block;
    transform: translateX(0);
    height: 100%;
    margin: 0 0 0 0;
    width: 488px;
  }

  .map-slider-btn-conteiner {
    width: 624px;
  }

  .slider__control_right {
    margin: 11px 0px 0 594px;
  }

  .img-item {
    margin: 0 12px 0 0px;
  }

  .map-slider__control_left {
    display: block;
    margin: 0 0 0 20px;
  }

  .map-slider__control_right {
    display: block;
    margin: -37px 0px 0 592px;
  }

  .map-slider-btn-conteiner {
    margin: 126px 0 0 0px;
    display: block;
  }

  .map-slider-img-conteiner {
    width: 529px;
    height: 156px;
    position: absolute;
    overflow: hidden;
    margin: 14px 0 0 276px;
    margin: 63px 0 0 57px;
  }

  .slidecontainer-map {
    margin: 237px 0px 0px 197px;
  }

  .map {
    background-image: url(../assets/icons/map640.svg);
    background-repeat: no-repeat;
    margin: 46px 0 0 21px;
  }

  .int-icon-item-eagle {
    margin: 6px 0 0 54px;
  }

  .int-icon-item-crocodile {
    margin: 17px 0 0 100px;
  }

  .int-icon-item-gorill {
    margin: 67px 0 0 268px;
  }

  .int-icon-item-panda {
    margin: 9px 0 0 424px;
  }

  .tooltip .tooltiptext-panda {
    margin-left: -63px;
  }

  .wrapper {
    height: 1006px;
  }

  .btn-map-watch-online {
    margin: 325px 0px 0px 177px;
  }
  .Btn-send {
    margin: 5px 0 0px 231px;
    width: 165px;
}
.btn-send-arr {
    padding: 0 0 0 18px;
}

}

/* MEDIA 320 */
@media (max-width: 400px) {
  .logo-light {
    margin: -15px 85px 0 12px;
  }

  .footer-btn {
    margin: 723px 0 0 12px;
  }

  .footer-nav {
    width: 296px;
    height: 21px;
    margin: 19px 0px 0 2px;
    padding: 0 0 0 0;
  }

  .label-name {
    width: 304px;
    height: 26px;
  }

  .header-nav-close {
    right: 336px;
  }

  .wrapper-h2 {
    font-size: 24px;
    padding-top: 15px;
  }

  .wrapper-text {
    width: 270px;
    height: 243px;
    margin: -6px 0 0px 21px;
  }

  .wrapper-p {
    font-size: 12px;
    line-height: 14px;
  }

  .map-slider-btn-conteiner {
    margin: 9px 0 0 0px;
    width: 300px;
  }

  .map-slider__control_right {
    margin: -37px 0px 0 269px;
  }

  .img-item {
    margin: 0 11px 0 0px;
    width: 60px;
    height: 60px;
  }

  .map-slider-img-conteiner {
    width: 226px;
    height: 84px;
    margin: 14px 0 0 276px;
    margin: -17px 0 0 44px;
  }

  .img-item-active {
    width: 85px;
    height: 85px;
  }

  .slidecontainer-map {
    margin: 93px 0px 0px 51px;
  }

  .slider-range {
    width: 240px;
  }

  .map {
    background-image: url(../assets/icons/map320.svg);
    background-repeat: no-repeat;
    margin: 28px 0 0 9px;
  }

  .wrapper {
    height: 776px;
  }

  .btn-map-watch-online {
    margin: 184px 0px 0px 30px;
  }

  .int-icon-item-eagle {
    margin: 3px 0 0 29px;
  }

  .int-icon-item-crocodile {
    margin: 11px 0 0 55px;
  }

  .int-icon-item-gorill {
    margin: 37px 0 0 135px;
  }

  .int-icon-item-panda {
    margin: 9px 0 0 217px;
  }

  .wrapper-nav {
    margin: -5px 0px 0 7px;
  }

  .footer-logo-light {
    margin: 25px 0 0 12px;
  }

}
